DirectoryIndex index.php
Options -Indexes
php_flag register_globals off
RewriteEngine on
# Ниже строка чпу благодаря ней урл будет выглядеть примерно так http://test-s.lok/-v465h
# RewriteRule ^-(.*) /redirect.php?key=$1 [L]
RewriteRule ^([a-z0-9]+)$ /redirect.php?key=$1